.item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 272px;
  max-height: 208px;
}

.priceTitle {
  display: flex;
  justify-content: center;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
}
