.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 272px;
  max-height: 208px;
}

.priceTitle {
  display: flex;
  justify-content: center;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
}
