.forgot__content {
  text-align: center;
  width: 100%;
  max-width: 480px;
  margin: auto;
  position: fixed;
  top: 15%;
  left: 0;
  bottom: 0;
  right: 0;
}

.forgot__input {
  margin-bottom: 24px;
  min-height: 64px;
  width: 100%;
}

.forgot__input div {
  width: 100%;
  text-align: right;
}

.forgot__link {
  text-decoration: none;
  color: #4c4cff;
}
.forgot__link:hover {
  color: #7c7cff;
}
